<nav app-header class="main-header navbar navbar-expand"
    style="background-image: url('assets/images/fondos/plataforma_fondo1.png'); background-repeat: no-repeat; height: 100%; background-size: cover; z-index: 1;">
</nav>
<aside app-sidebar class="main-sidebar elevation-4"
    style="background-image: url('assets/images/fondos/fondo_menu.png');"></aside>
<router-outlet></router-outlet>
<footer class="main-footer-global text-white" style="background-color: rgba(0,0,0,.25);" [innerHTML]="copyright">
</footer>